body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

ul.AppHeader {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333;
}
.AppBody {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6ae56a;
}

.Footer{
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #333;
  color: white;
}


ul.AppHeader li {float: left;}

ul.AppHeader li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul.AppHeader li a:hover {
  background-color: #4CAF50;

}
ul.AppHeader li.rightIn a:hover {
  background: url("img/btn_google_light_normal_ios.svg") no-repeat -1px ;

}

ul.AppHeader li a.active {background-color: #4CAF50;}

ul.AppHeader li.rightOut {
    cursor: pointer;
    float: right;
}


ul.AppHeader li.rightIn {
  width: 120px;
  cursor: pointer;
  float: right;
  text-align: right;
  background: url("img/btn_google_light_normal_ios.svg") no-repeat -1px ;
}




input[type=text] {
  width: 70%;
  padding: 11px 10px;
  margin: 8px 13px;
  box-sizing: border-box;
  border: none;
  background-color: #4caf50;
  color: white;
}
.PhotoURL{
  width: 44px;
  height: 44px;
  border-radius: 50%;
}


.inputButton{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding:15px 25px;
  text-decoration: none;
  cursor: pointer;
}


.LoginText {
  background-color: #4CAF50;
  height: 100vh;
  width: 100%;
  font-family: fantasy;
  font-size: 450%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.Message{
  background-color: #097d17;
  border-radius: 25px;
  border: 2px solid #033309;
  margin: 3px 10px;
  padding-left: 24px;
  padding-right: 24px;
}


.messageImg{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-size: contain;
}