body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.AppHeader {
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.gitButton{
  height: 100%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.gitImg{
  background: url("./img/GitHub-Mark-Light-64px.png") no-repeat;
  background-size: contain;

  width: 44px;
  height: 44px;
}
.rightOut{
  height: 100%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.Logo{
  color: #4CAF50;
}
.AppHeaderLogin{
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}


.AppBody {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #232323;
}

.Footer{
  position: fixed;
  bottom: 0;
  height: 50px;
  width: 100%;
  background-color: #333;
  color: white;
}



input[type=text] {
  width: 70%;
  padding: 11px 10px;
  margin: 8px 13px;
  box-sizing: border-box;
  border: none;
  background-color: #4caf50;
  color: white;
}
.PhotoURL{
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.googleImg{
  width: 44px;
  height: 44px;
  background: url("./img/btn_google_light_normal_ios.svg") no-repeat;
  display: flex;
}


.inputButton{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding:15px 25px;
  text-decoration: none;
  cursor: pointer;
}


.LoginText {
  background-color: #4CAF50;
  height: 100vh;
  width: 100%;
  font-size: 350%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.Message{
  background-color: #097d17;
  border-radius: 12px;
  border: 2px solid #033309;
  margin: 3px 10px;
  padding: 3px 10px;
  /*padding-left: 24px;*/
  /*padding-right: 24px;*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.MyMessage{
  background-color: #447d6e;
  border-radius: 12px;
  border: 2px solid #033309;
  margin: 3px 10px;
  padding: 3px 10px;
  /*padding-left: 24px;*/
  /*padding-right: 24px;*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.nameAndMessage{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 0 25px;
}
.DisplayName{
  color: white;
  /*background-color: #075910;*/
}
.timeStamp{
  /*background-color: #232323;*/
  /*border-radius: 25%;*/
  border-color: white;
}


.messageImg{
  width: 44px;
  height: 44px;
  border-radius: 50%;
  /*background-size: contain;*/
}